include README.md
include LICENSE
recursive-include NaivePyDESSEM *.py
recursive-include NaivePyDECOMP *.py
recursive-include examples *.yaml
recursive-include docs *.tex *.pdf *.md
recursive-include NaivePyDESSEM *.yaml
recursive-include NaivePyDECOMP *.yaml
